body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    color: black;
    font-family: sans-serif;
    background: #f4f4f4;
}

h1 {
    margin-bottom: 10px;
}

#mainButton {
    padding: 15px 40px;
    font-size: 20px;
    cursor: pointer;
    margin: 20px 0;
}

.shop-item button {
    padding: 8px 16px;
    cursor: pointer;
}

.btn-img {
  background: none;
  border: none;
  cursor: pointer;
}

#message {
    margin-top: 15px;
    min-height: 20px;
    font-weight: bold;
}

.container {
    display: flex;
    height: 100%;
}

.game {
    width: 65%;
    padding: 30px;
}

.shop {
    width: 40%;
    background: #f5f5f5;
    padding: 5px;
    border-radius: 10px 0 0 10px;
    overflow-y: auto;
    height: 100%;
}

.shop-item {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    gap: 5px;
}

.shop-item img {
    width: auto;
    height: 200px;
}

.shop button {
    width: 100%;
    padding: 8px;
    cursor: pointer;
}

.btn-img img {
    width: 300px;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.btn-img img.pop {
    transform: scale(1.15);
}

.shop::-webkit-scrollbar {
    width: 12px;
}

.shop::-webkit-scrollbar-thumb {
    background: #989898;
    border-radius: 4px;
}

.shop::-webkit-scrollbar-track {
    background: #ffffff;
}

button {
    background-color: rgb(255, 225, 0);
    border: none;
    padding: 8px 15px;
    font-weight: bold;
    font-size: 25px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
    color: rgb(155, 144, 25);
}

button:hover {
    background-color: rgb(155, 144, 25);
    color: rgb(255, 225, 0);
}